@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme inline {
  --color-primary: #c0392b;
  --color-primary-light: #fdf2f1;
  --color-primary-dark: #a93226;
  --color-accent: #f7f8fa;
  --color-dark: #1a1a1a;
}
